<a href="https://colab.research.google.com/github/CHANG0327/Introduction-to-Computers/blob/main/0518.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("hi")

hi

In [2]:
i = range(5)

In [3]:
print(type(i))

<class 'range'>

In [4]:
print(i)

range(0, 5)

In [5]:
print(list(i))

[0, 1, 2, 3, 4]

In [7]:
j = range(12)

In [8]:
print(type(j))

<class 'range'>

In [9]:
print(j)

range(0, 12)

In [10]:
print(list(j))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [11]:
a = range(3,8)
print(list(a))

[3, 4, 5, 6, 7]

In [12]:
b = range(-2,10)
print(list(b))

[-2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
c = range(3,8,1)
print(list(c))

[3, 4, 5, 6, 7]

In [14]:
d = range(3,8,2)
print(list(d))

[3, 5, 7]

In [15]:
e = range(8,3,-1)
print(list(e))

[8, 7, 6, 5, 4]

In [29]:
f = range(0,9,1)
print(list(f))
g = range(1,10)
print(list(g))
h = range(1,10,2)
print(list(h))
i = range(10,1,-2)
print(list(i))

[0, 1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
[10, 8, 6, 4, 2]

In [27]:
for n in range(3):
  print(n, end =",")

0,1,2,

In [28]:
for n in range(10):
  print(n, end =",")

0,1,2,3,4,5,6,7,8,9,

In [30]:
test = int(input("請輸入一個正整數："))
for m in range(1,test+1):
  print(m, end = " ")

請輸入一個正整數：10
1 2 3 4 5 6 7 8 9 10

In [35]:
test = int(input("請輸入一個正整數："))
for m in range(1,test+1, 2):
  print(m, end = " ")

請輸入一個正整數：10
1 3 5 7 9

In [38]:
sum = 0
for n in range(3):
  sum = sum+n
print(sum)

3

In [39]:
sum = 0
for n in range(5):
  sum = sum+n
print(sum)

10

In [52]:
test = int(input("請輸入一個正整數："))
sum = 0
for n in range(test+1):
  sum = sum+n
print(sum)

請輸入一個正整數：10
55

In [57]:
test = int(input("請輸入一個正整數："))
sum = 0
for n in range(test+1):
  sum = sum+n
print("1到",n,"的整數和為",sum)

請輸入一個正整數：10
1到 10 的整數和為 55

In [58]:
test = int(input("請輸入一個正整數："))
sum = 0
for n in range(test+1):
  sum = sum+n
print("1到",n,"的整數和為",sum)

請輸入一個正整數：50
1到 50 的整數和為 1275

In [64]:
test = int(input("請輸入一個正整數："))
sum = 0
for n in range(test+1):
  sum = sum+n
  print("1到",n,"的整數和為",sum,"\t", sep ="", end ="")
  print()

請輸入一個正整數：10
1到0的整數和為0
1到1的整數和為1
1到2的整數和為3
1到3的整數和為6
1到4的整數和為10
1到5的整數和為15
1到6的整數和為21
1到7的整數和為28
1到8的整數和為36
1到9的整數和為45
1到10的整數和為55